.timeTable{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    gap: 1.5rem;
    margin-inline: auto;
}

.homePage h3,
.homePage h4{
    margin: 0px;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.flexContainer img{
    width: min(60vw, 250px);
    height: auto;
}
