.menuPage h3,
.menuPage h2{
    margin: 0px;
}

.menuGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(150px, 13vw), 1fr));
    gap: 3rem;
    margin: 0px;
}

.waffle {
    background-size: cover;
    height: max(150px,20vw);
    margin: 0px;
}

.titleDiv{
    padding: 0.5rem;
    text-align: center;
    color: rgb(209, 202, 0);
    font-weight:900;
    backdrop-filter: blur(10rem) grayscale(1) opacity(0.8) /* ...and on and on... */;
}



@media (hover: hover){
    .waffle:hover{
        box-shadow: 5px 5px 10px 2px rgba(0.9,0.9,.9,.8);
    }
}