.content{
    height: 100vh;
    width: 100vw;
    background-color: mediumseagreen;
    --logoHeight : 7rem;
    
}

.content img {
    width: calc(var(--logoHeight) * 2.4);
    height: var(--logoHeight);
}

.header{
    width: 100vw;
    height: calc(var(--logoHeight) * 1.3);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar{
    margin-top: 1rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 2rem;
    height: 5rem;
    text-transform: capitalize;
}

.navBar h2:hover {
    color: azure;
    transform: translateY(-0.5rem);
    transition-duration: 0.5s;
}